
<!DOCTYPE html>
<html>
    <head>
        <title>
            Supplier Management
        </title>
        <meta charset="utf-8">
        <meta name ="viewport" content="width=device-width, initial-scale=1,shrink-to-fit =no">
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>



    <body >
        <nav class="navbar-light bg-dark " style="text-align: left; justify-content: left ;display: flex;">
            <button type="button" class="btn btn-outline-info" onclick="window.location.href='/employee-home/sales/';" style="font-size: 1.3em;">
                 < Back
            </button>
            <p class="text-light" style="font-size: 2.7em ; padding-left: 0.5em; padding-top: 0.2em;">View Products </p>
        </nav>

        {% if success1 %}
        <br>
        <div class="alert alert-success" role="alert">
            Expired Items Removed, Products Table Updated!

        </div>
        {% endif %}

        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-top: 1.2em;"><h3 style="font-weight: bold;"> Products List </h3></div>

        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-top: 2.5em;">
            <form action="." method="POST"> {% csrf_token %}
            <div style="text-align: right;">

            <button type="submit">Update Table</button>
            <br>

            </div>
        </form>
        </div>


        <div class="col-lg-12 col-sm-12 col-md-12" style="padding-top: 1em;">



            <br>
            <br>
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col"> Products ID </th>
                    <th scope="col"> Product Name </th>
                    <th scope="col"> Company </th>
                    <th scope="col"> Category </th>
                    <th scope="col"> Total Quantity </th>
                    <th scope="col"> Price Per Unit </th>
                    <th scope="col"> Quantity/Exp </th>
                    <th scope="col"> Expiry Date </th>

                </tr>
              </thead>

                {% if not table %}
                <tbody>
                    <tr>
                        <th class="table-danger" scope="row"> Empty Table </th>
                        <td class="table-danger"> </td>
                        <td class="table-danger"> </td>
                        <td class="table-danger"> </td>
                        <td class="table-danger"> </td>
                    </tr>
                </tbody>
                {% endif %}
                <tbody>
                {% for row in table %}
                <tr>
                    <th class="table-success" scope="row"> {{ row.p_id }} </th>
                    <td class="table-success"> {{ row.typE }} </td>
                    <td class="table-success"> {{ row.company }} </td>
                    <td class="table-success"> {{ row.category }} </td>
                    <td class="table-success"> {{ row.quantity }} </td>
                    <td class="table-success"> {{ row.price }} </td>
                    <td class="table-success"> {{ row.expqty }} </td>
                    <td class="table-success"> {{ row.date }}  </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
		<br>
		<br>
		<br>
        </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>