<!DOCTYPE html>
<html>
    <head>
        <title>
            Manager Site
        </title>
        <meta charset="utf-8">
        <meta name ="viewport" content="width=device-width, initial-scale=1,shrink-to-fit =no">
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
    </head>


    
    <body >
        <nav class="navbar-light bg-dark " style="text-align: left; justify-content: left ;display: flex;">
            <button type="button" class="btn btn-outline-info" onclick="window.location.href='http://127.0.0.1:8000/home/';" style="font-size: 1.3em;">
                 < Back
            </button>
            <p class="text-light" style="font-size: 2.7em ; padding-left: 0.5em; padding-top: 0.2em;">Manager Site</p>
        </nav>

        <div class="col-lg-12 col-sm-12 col-md-12" style="padding-top: 1.6em;">


            <div class="col-lg-4 col-sm-12 col-md-4" style="padding: 0.4em;text-align: center;">
                <div class="card ">
                    <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Employee Management</h4>
                        <p class="card-text">
                        Some quick example text to build on the card title
                        and make up the bulk of the card's content.
                        </p>
                        <a href="http://127.0.0.1:8000/manager-home/employee-management/" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12 col-md-4" style="padding: 0.4em; text-align: center;">
                <div class="card ">
                    <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Wage Calculation</h4>
                        <p class="card-text">
                        Some quick example text to build on the card title
                        and make up the bulk of the card's content.
                        </p>
                        <a href="#!" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12 col-md-4" style="padding: 0.4em; text-align: center;">
                <div class="card ">
                    <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Supplier Mangement</h4>
                        <p class="card-text">
                        Some quick example text to build on the card title
                        and make up the bulk of the card's content.
                        </p>
                        <a href="#!" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12 col-md-4" style="padding: 0.4em; text-align: center;">
                <div class="card ">
                    <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Stock Management</h4>
                        <p class="card-text">
                        Some quick example text to build on the card title
                        and make up the bulk of the card's content.
                        </p>
                        <a href="#!" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12 col-md-4" style="padding: 0.4em;text-align: center;">
                <div class="card ">
                    <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Finances</h4>
                        <p class="card-text">
                        Some quick example text to build on the card title
                        and make up the bulk of the card's content.
                        </p>
                        <a href="#!" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12 col-md-4" style="padding: 0.4em; text-align: center;">
                <div class="card ">
                    <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Records</h4>
                        <p class="card-text">
                        Some quick example text to build on the card title
                        and make up the bulk of the card's content.
                        </p>
                        <a href="#!" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>        


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body> 
</html>