
<!DOCTYPE html>
<html>
    <head>
        <title>
            Supplier Management
        </title>
        <meta charset="utf-8">
        <meta name ="viewport" content="width=device-width, initial-scale=1,shrink-to-fit =no">
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
    </head>


    
    <body style="background-color: #FFB9B3">
        <nav class="navbar-light bg-dark " style="text-align: left; justify-content: left ;display: flex;">
            <button type="button" class="btn btn-outline-info" onclick="window.location.href='/manager-home/supplier-management/';" style="font-size: 1.3em;">
                 < Back
            </button>
            <p class="text-light" style="font-size: 2.7em ; padding-left: 0.5em; padding-top: 0.2em;">Supplier Management</p>
        </nav>
        {% if error1 %}
        <br>
        <div class="alert alert-danger" role="alert">
            The Supplier ID already Exists!
        </div>
        {% endif %}
        {% if error2 %}
        <br>
        <div class="alert alert-danger" role="alert">
            The Supplier ID Does Not Exist!
        </div>
        {% endif %}
        {% if success1 %}
        <br>
        <div class="alert alert-success" role="alert">
            New Supplier has been added!

        </div>
        {% endif %}
        {% if success2 %}
        <br>
        <div class="alert alert-success" role="alert">
            Removed Supplier Successfully!
        </div>
        {% endif %}

        <div class="col-lg-12 col-sm-12 col-md-12" style="padding-top: 4em; text-align: center;">


        <!--h3 style="font-weight: bold;"> ADD Supplier Info </h3-->
        <br>
		<!--form action="." method="POST"> {% csrf_token %}
		    <div >
		    <label for="s_id"><b>Supplier ID: </b></label>
		    <input type="number" placeholder="Enter Supplier ID" name="s_id" required>
            <br>
            <br>
            <label for="add"><b>Address: </b></label>
            <input type="text" placeholder="Enter Address" name="add" required>
            <br>
            <br>
            <label for="contact_no"><b>Contact No: </b></label>
            <input type="number" placeholder="Enter Contact No" name="contact_no" required>
            <br>
            <br>
            <label for="name"><b>Supplier Name:</b></label>
            <input type="text" placeholder="Enter Supplier Name" name="name" required>
            <br>
            <br>
            <label for="category"><b>Category:</b></label>
            <input type="text" placeholder="Enter Category" name="category" required>
            <br>
            <br>
		    <button type="submit" class="btn btn-success">Add Supplier</button>
            <br>
            <br>
            </div>
        </form-->
        

        <button class="btn btn-success" style="border-style: solid;" type="radio" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1" >
            <h4 style="font-weight: bold;"> Add Supplier </h4>
        </button>
        <br>
        <br>
        <br>
        <div class = "container-fluid" style="justify-content: center; display:flex;align-items:center">
                <div class="collapse jumbotron" id="collapse1" style="background-color: #9e024b; opacity: 0.9;">
            <div >
                <form action="." method="POST"> {% csrf_token %}
                    <div >
                    <label for="s_id" style="color:floralwhite;"><b>Supplier ID: </b></label>
                    <input type="number" placeholder="Enter Supplier ID" name="s_id" required  >
                    <br>
                    <br>
                    <label for="add" style="color:floralwhite;"><b>Address: </b></label>
                    <input type="text" placeholder="Enter Address" name="add" required>
                    <br>
                    <br>
                    <label for="contact_no" style="color:floralwhite;"><b>Contact No: </b></label>
                    <input type="number" placeholder="Enter Contact No" name="contact_no" required>
                    <br>
                    <br>
                    <label for="name" style="color:floralwhite;"><b>Supplier Name:</b></label>
                    <input type="text" placeholder="Enter Supplier Name" name="name" required>
                    <br>
                    <br>
                    <label for="category" style="color:floralwhite;"><b>Category:</b></label>
                    <input type="text" placeholder="Enter Category" name="category" required>
                    <h4 style="color:floralwhite;">* Enter Multiple Categories seperated by commas</h4>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-success glyphicon glyphicon-plus">Add Supplier</button>
                    <br>
                    <br>
                    </div>
                </form>
            </div>
            </div>
        </div>

        <!--h3 style="font-weight: bold;"> REMOVE Supplier </h3-->
        <br>
        <button class="btn btn-warning" style="border-style: solid;" type="radio" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2" >
            <h4 style="font-weight: bold;"> Remove Supplier </h4>
        </button>
        <br>
        <br>
        <br>
        <div class = "container-fluid" style="justify-content: center; display:flex;align-items:center">
                <div class="collapse jumbotron" id="collapse2" style="background-color: #9e024b; opacity: 0.9;">
            <div >
                <form action="." method="POST"> {% csrf_token %}
                    <div >
                    <label for="s_id" style="color:floralwhite;"><b>Supplier ID: </b></label>
                    <input type="number" placeholder="Enter Supplier ID" name="s_id_rem" required>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-danger glyphicon glyphicon-trash">Remove</button>
                    </div>
                 </form>
            </div>
            </div>
        </div>
        

            <!--div class="col-lg-4 col-sm-12 col-md-4" style="padding: 0.4em; text-align: center;">
                <div class="card ">
                    <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Records</h4>
                        <p class="card-text">
                        Some quick example text to build on the card title
                        and make up the bulk of the card's content.
                        </p>
                        <a href="#!" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div-->
        </div>        


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body> 
</html>